
<router-outlet></router-outlet>
<h1>{{title}}</h1>
<button (click)="happy=!happy">😀</button>
<section *ngIf="happy"> <img title="Happy" src="https://townsquare.media/site/757/files/2014/08/names.jpg" alt=""> </section>

<button (click)="sad=!sad">😢  </button>
<section *ngIf="sad"> <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/sad-dog-1537347496.jpg?resize=480:*" alt=""> </section>

<button (click)="crazy=!crazy">🤪</button>
<section *ngIf="crazy"> <img src="https://i.pinimg.com/originals/f2/ce/c9/f2cec98f06e8f66ff0bcfb2ffdb413eb.jpg" alt=""> </section>